@mixin forbid-selection
{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@mixin custom-font($font_name, $svg_name, $font_file)
{
	font-family: #{$font_name};
	src: url(font-path('#{$font_file}.eot?')) format('eot'),
	     url(font-path('#{$font_file}.woff')) format('woff'),
	     url(font-path('#{$font_file}.ttf')) format('truetype'),
	     url(font-path('#{$font_file}.svg##{$svg_name}')) format('svg');
}

@mixin fixed($layer_index)
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $layer_index;
}
