// Place all the styles related to the Lyrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lyric
{
	cursor: default;
	width: 50%;
	position: relative;

	.lyric_word
	{
		&:hover
		{
			cursor: pointer;
			background: red;
			color: white;
		}
	}

	.selected_word
	{
		@include forbid-selection;
		background: green;
		color: white;

		&:hover
		{
			background: green;
			color: white;
		}
	}
}
